[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
retrying = "*"
flask = "*"
flask-cors = "*"
flask-restx = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
psycopg2 = "*"
flask-apscheduler = "*"
faker = "*"
faker-food = "*"
tqdm = "*"

[dev-packages]
rich = "*"
pylint = "*"
pandas = "*"
ipykernel = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
