[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
retrying = "*"
flask = "*"
flask-cors = "*"
flask-restx = "*"
psycopg2 = "*"
flask-jwt-extended = "*"

[dev-packages]
rich = "*"
pylint = "*"
pandas = "*"

[requires]
python_version = "3.11"
